<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <urlMappings>
      <!--<add url="~/" mappedUrl="~/rt-index.html" />
      <add url="~/incident" mappedUrl="~/rt-index.html" />
      <add url="~/network" mappedUrl="~/rt-index.html" />-->
      <add url="~/" mappedUrl="~/index.html" />
      <add url="~/incident" mappedUrl="~/incident.html" />
      <add url="~/network" mappedUrl="~/network.html" />
      <add url="~/dump" mappedUrl="~/dump-monitoring.html" />
      <add url="~/queue" mappedUrl="~/queue-monitoring.html" />
      <add url="~/mcoe" mappedUrl="~/mcoe_dashboard.html" />
    </urlMappings>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings file="Application.config">
    <add key="ProductionService" value="https://owenscorning.service-now.com/api/now/"/>
    <add key="DevService" value="https://owenscorningdev.service-now.com/api/now/"/>
  </appSettings>
</configuration>